.node{
  width:20px;
  height: 20px;
  outline: solid 1px darkgrey;
}

.grid{
  display:flex;
  flex-wrap: wrap;
  width: 1600px;
  height: 600px;
  outline: 2px solid black;
}

.btn{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: darkgrey;
  border-radius: 5px;
  height: 3vh;
  width: 7vh;
}

.wrapper, html, body{
  height: 100vh;
  margin:0;
}

.wrapper{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.btn-container{
  display:flex;
  width: 20vh;
  justify-content: space-evenly;
}

.grid_setup{
  display:flex;
  align-items: center;
}

.radio_buttons{
  display:flex;
  flex-direction: column;
  margin: 20px;
}
